body {
  background-color:rgb(221, 154, 130);
}

.App-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 40vh;
  font-family: helvetica, sans-serif;
  font-style: italic;
  font-size: 1.5em;
  color: rgb(113, 136, 251);
  background-color:blanchedalmond;
}

 