body {
  background-color:rgb(221, 154, 130);
}

.App-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: helvetica, sans-serif;
  font-style: italic;
  font-size: 1.3em;
  color: rgb(113, 136, 251);
  background-color:blanchedalmond;
}

.letter {
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-style: italic;
  font-size: 2em;
  color:rgb(124, 84, 161);
  text-shadow:aquamarine;
}